.Coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
  }

.Coin-image {
    height: 250px;
    width: 250px;
    
}

.Coin-button {
    margin: 5px;
}